{% extends 'base.html' %}

{% block content %}
<div class=" px-4 py-5 bg-secondary bg-gradient-dark">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 text-light">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{{url_for('static',filename='images/imgcadastro.png' )}}" class="d-block mx-lg-auto img-fluid" alt="Imagem Cinema" width="500" height="500" loading="lazy">
    </div>
    <div class="col-12 col-md-8 col-lg-6" style="transform: translateX(25px);">
      <h1 class="display-4 fw-bold lh-1 mb-4 text-light">Cadastro de filmes</h1>
      <p class="lead">Cadastre aqui seus filmes incríveis e ajude a construir uma coleção cinematográfica memorável! Este é o espaço onde cada história pode ganhar o reconhecimento que merece, brilhando em nossa lista e encantando todos que buscam por experiências únicas, emocionantes e inesquecíveis no mundo do cinema. Deixe sua marca e compartilhe aquelas obras que merecem ser vistas, 
        admiradas e lembradas por todos os amantes da sétima arte.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-outline-light btn-lg px-4">Cadastro</button>
      </div>
      </div>
    </div>
    <br>
    <br>
  </div>
  
  <div class=" d-flex flex-column flex-shrink-0 bg-dark text-light py-5">
    <div class="container">
      <h1 class="mb-3 text-center display-5 fw-bold mb-5">Cadastro de Filmes</h1>
        <div class="row g-5 justify-content-end">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{{url_for('static',filename='images/imgcadastro.png' )}}" class="d-block mx-lg-auto img-fluid" alt="Imagem Cinema" width="500" height="500" loading="lazy">
          </div>
          <div class="col-md-8 col-lg-6">
            <p class="lead mb-4">
            Faça aqui o Cadastro de seus filmes Preferido!
            </p>

                <div class="row g-3">
                  <form action="{{url_for('lista')}}" method="POST">
                    <div class="row g-3">
                      <div class="col-12">
                        <label for="titulo" class="form-label">Título</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Os velozes e furiosos..." required>
                      </div>
                  
                      <div class="col-12">
                        <label for="ano" class="form-label">Ano</label>
                        <input type="text" class="form-control" id="ano" name="ano" placeholder="00/00/0000" required>
                      </div>
                  
                      <div class="col-12">
                        <label for="genero" class="form-label">Gênero do filme</label>
                        <select class="form-select" id="genero" name="genero" required>
                          <option value="">Escolha</option>
                          <option>Ação</option>
                          <option>Comédia</option>
                          <option>Drama</option>
                          <option>Ficção Científica</option> 
                          <option>Terror</option>
                          <option>Romance</option>
                          <option>Animação</option>  
                        </select>
                      </div>

                      <div class="col-12">
                        <label for="descricao" class="form-label">Descrição</label>
                        <textarea class="form-control" id="descricao" name="descricao" maxlength="125" rows="5" placeholder="Digite a descrição do filme..."></textarea>
                      </div>
                  
                      <hr class="my-4">
                      <input  class="w-100 btn btn-primary btn-lg" type="submit" value="Cadastrar"> 
                    </div>
                  </form>
                </div>

          </div>
        </div>
    </div>
  </div>
  
{% endblock content %}