{% extends 'base.html' %}

{% block content %}
<div class="container-fluid flex border border-dark p-3 my-5">

<br>
<br>
<h1>Bem vindo ao Filmes Etec!</h1>
<hr>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMR2coT1o8h89zATZLdXe8Aja6yiIStAWEPg&s" class="w-250 rounded-2 d-block mx-auto">
<h3>Selecione uma página para acessa-lá: </h3>

<a class="container-fluid flex-column border border-dark p-1" href="/lista">Ir para a página de Catálogos</a>
<br><br>
<a class="container-fluid flex-column border border-dark p-1" href="/cadastro">Cadastrar</a>
 
<hr>
</div>
{% endblock content %} 